* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: whitesmoke;
    margin: 0%;
}

.header-img {
    background-color: aqua;
    margin-bottom: 0%;
    position: relative;
    z-index: 1;
}

.header-img, img {
    width: 100%;
    height: 200px;

}

.header-nav{
    /* background-color: aqua; */
    height: 70px;
    background-image: url(../images/header7.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
    margin-top: 0%;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, 0.3);
    position: sticky;
    top: 0;
    z-index: 2;
    display: flex;
}

.navigation li {
  display: inline-block;
  margin-right: 20px;
}

.navigation ul {
    display: flex;
    gap: 50px;
    list-style-type: none;
    justify-content: flex-start;
    font-size: 30px;
    height: auto;
    padding: 0%;

}
a {
    text-decoration: none;
    color: black;
}

.navigation ul li {
    padding: 0%;
    margin: 0%;

}

.navigation ul li a {
    padding: 10px;
    color: white;

}

.navigation ul li a:hover {
    /* background-color: dodgerblue; */
    border-bottom: 5px;
    border-bottom-style: solid;
    border-color: white;
}



footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
    position: fixed;
    bottom: 0;
    width: 100%;
}
footer p {
    color: #fff;
}


/* POLY CSS */

.container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin-bottom: 150px;
    margin-top: 30px;
  }

  .calculator {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    flex: 1 1 60%;
    min-width: 300px;
    background-image: url(../images/header7.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
  }
  .calculator h2{
    margin: 0;
    text-align: center;

  }
  form {
    display: grid;
    grid-gap: 10px;
    margin-bottom: 20px;
  }

  label {
    font-weight: bold;
    color: white;
  }

  input[type="text"],
  select {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    /* width: calc(100% - 22px); */
    width: 100%;
  }

  button {
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    width: 100%;
    font-size: x-large;
  }

  button:hover {
    background-color: #0056b3;
  }

  .result {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    flex: 1 1 40%;
    min-width: 200px;
  }

  .result h2 {
    margin-bottom: 10px;
  }

  .result-box {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    background-color: whitesmoke;
    height: 300px;
    overflow-y: auto;
  }
  main {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
  }

